body
{
	margin: 10px;
	width: 16.5cm;
}

h1, h2, h3
{
	margin: 0.6em 0 0.4em 0;
}

h2
{
	text-decoration: underline;
}

h3
{
	font-size: 110%;
}

table
{
	border-collapse: collapse;
}

td, th
{
	padding: 0;
	vertical-align: top;
	text-align: justify;
}

table.prop
{
	border: 0;
}

table.prop th
{
	width: 130px;
	padding-right: 10px;
	padding-left: 30px;
}

table.prop th.breed
{
	width: 260px;
}

table.prop td
{
	border: 0;
}

div.pragmatiek
{
	width: 300px;
	padding-left: 60px;
}

div.pragmatiek_inner
{
	border: 1px solid #000;
}

div.pragmatiek table.prop th
{
	padding-left: 0;
}

